<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавить товар</title>
</head>
<body>
<h1>Добавить товар</h1>
<form method="get" th:action="@{/products/product_add}">
    <span>Наименование</span>
    <input name="title" type="text">
    <span>Стоимость</span>
    <input name="cost" type="number">
    <button type="submit">Добавить</button>
</form>
</body>
</html>